<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boardspring.example.mapper.BoardMapper">
	<select id="selectBoardList" resultType="Board" parameterType="com.boardspring.example.paging.Criteria" >
		 
		SELECT	bNum,
				bPw,
				bTitle,
				bContent,
				bUser,
				bDate,
				bHit
				
		FROM	board
		
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='bTitle' and keyword != null and keyword != '' ">
				AND bTitle like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='bContent' and keyword != null and keyword != '' ">
				AND bContent like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='bUser' and keyword != null and keyword != '' ">
				AND bUser like CONCAT('%', #{keyword}, '%')
			</if>	
		</trim>
		ORDER BY bNum DESC
		LIMIT #{startList}, #{listSize}
	</select>
	
	<select id="boardListCnt" resultType="Int">
		
			SELECT
				count(*) as listCnt
			FROM
				board
				
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keyword != null and keyword != '' ">
				<if test="searchType=='bTitle'">
					AND bTitle like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType=='bContent'">
					AND bContent like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType=='bUser'">
					AND bUser like CONCAT('%', #{keyword}, '%')
				</if>
     	 </if>
		</trim>
	</select>
	<insert id="boardInsert" parameterType="com.boardspring.example.domain.Board">
		INSERT INTO board (bTitle, bPw, bContent, bUser, bHit)
		values
		(#{bTitle},#{bPw},#{bContent},#{bUser},0)
	</insert>
	
	<select id="boardView" parameterType="int" resultType="com.boardspring.example.domain.Board">
		<!-- SELECT * 
		FROM board ta
		LEFT join comment tb ON ta.bNum = tb.bNum
		WHERE ta.bNum = #{bNum} -->
		SELECT * FROM board WHERE bNum = #{bNum}
	</select>
	
	
	<update id="updateHit" parameterType="int">
		UPDATE board set bHit = bHit+1 where bNum = #{bNum}
	</update>
	<delete id="boardDel" parameterType="int">
		DELETE FROM board where bNum = #{bNum}
	</delete>
	<update id="boardModify" parameterType="com.boardspring.example.domain.Board">
		UPDATE board SET bTitle = #{bTitle}, bContent = #{bContent}, bUser = #{bUser} WHERE bNum = #{bNum}
	</update>
</mapper>