<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boardspring.example.mapper.BoardMapper">
	<select id="selectBoardList" resultType="Board" parameterType="com.boardspring.example.paging.Criteria" >
		<![CDATA[
		SELECT	bNum,
				bId,
				bPw,
				bTitle,
				bContent,
				bUser,
				bDate,
				bHit
		FROM	board 
		where bNum > 0
		ORDER BY bNum DESC
		LIMIT #{startPage}, #{perPageNum}
		]]>
	</select>
	<select id="boardListCnt" resultType="Int">
		
			SELECT
				count(*)
			FROM
				board
	</select>
	<insert id="boardInsert" parameterType="com.boardspring.example.domain.Board">
		INSERT INTO board (bTitle, bId, bPw, bContent, bUser, bHit)
		values
		(#{bTitle},#{bId},#{bPw},#{bContent},#{bUser},0)
	</insert>
	<select id="boardView" parameterType="int" resultType="com.boardspring.example.domain.Board">
		SELECT * FROM board where bNum = #{bNum}
	</select>
	<update id="updateHit" parameterType="int">
		UPDATE board set bHit = bHit+1 where bNum = #{bNum}
	</update>
	<delete id="boardDel" parameterType="int">
		DELETE FROM board where bNum = #{bNum}
	</delete>
	<update id="boardModify" parameterType="com.boardspring.example.domain.Board">
		UPDATE board set TITLE = #{bTitle}, CONTENT = #{bContent} where bNum #{bNum}
	</update>
</mapper>